
body{
    background-image: url(background.jpg);
}
.container{
    background-color: white;
    width: 50%;
    border-radius: 10px;
    margin: 20px auto;
    padding: 30px;
}
.avatar{
    margin-left: 15px;
    width:200px;
    width: 100px;
    border-radius: 14px;
}
.site-header h1{
    text-align: center;
}
.fio{
    display: inline-block;
    vertical-align: top;
    font-size: 14pt;
    font-weight: bold;
    margin: 18px 0 0 31px;
}
.contact,.skills,.experience,.lang{
    background-color: #0baae24d;
    border-radius: 15px;
    padding: -12px;
    margin: 13px;
    padding: 1px 23px
}